.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__left-block,
.form__right-block {
  width: 300px;
}

.form__info {
  @include par-reset;

  font-family: $opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ff0000;

  &--not-active {
    visibility: hidden;
  }
}

.form__name-field-label {
  position: relative;

  &::before {
    position: absolute;
    content: "*";
    top: -7px;
    left: 12px;
    z-index: 1;

    font-family: $proxima;
    font-size: 17px;
    line-height: 20px;
    color: #d12136;
  }
}

.form__input {
  width: 300px;
  height: 50px;
  margin-top: 4px;
  padding-left: 25px;

  font-family: $opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #48494d;

  background-color: #ffffff;
  border: 1px solid rgba(72, 73, 77, 0.2);

  &--name {
    margin-left: 2px;
  }

  &--merit,
  &--flaw {
    margin-top: 16px;
  }

  &--not-valid {
    border: 1px solid #ff0000;
  }
}

.form__rating-label {
  margin-left: 8px;

  cursor: pointer;

  &--first {
    margin-left: 12px;
  }
}

.form__rating-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  margin-top: 26px;
}

.form__title-rating {
  @include par-reset;

  margin-right: 5px;

  font-family: $opensans;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.form__star-image {
  fill: #bdbec2;
  fill-opacity: 0.7;
  transition: fill 0.3s;
}

.form__rating-input:checked ~ .form__rating-label .form__star-image,
.form__rating-input:focus ~ .form__rating-label .form__star-image,
.form__rating-label:hover .form__star-image,
.form__rating-label:hover ~ .form__rating-label .form__star-image {
  fill: #d12136;
  fill-opacity: 1;
}

.form__text-area {
  width: 100%;
  height: 118px;
  margin-top: 10px;
  margin-left: 2px;
  padding-left: 25px;
  padding-top: 14px;

  font-family: $opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #48494d;

  resize: none;
  background: #ffffff;
  border: 1px solid rgba(72, 73, 77, 0.2);

  &--not-valid {
    border: 1px solid #ff0000;
  }
}

.form__text-area-label {
  position: relative;

  &::before {
    position: absolute;
    content: "*";
    top: -95px;
    left: 12px;
    z-index: 1;

    font-family: $proxima;
    font-size: 17px;
    line-height: 20px;
    color: #d12136;
  }
}

.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 52px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: $opensans;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background: #d12136;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #bd0c21;
  }
}
